<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  throwExceptions="true">

  <variable name="DefaultLayout" value="${longdate} | ${level:uppercase=true:padding=5} | ${message} | ${exception:format=type,tostring}" />
  <variable name="AppName" value="Mecca.CMT" />

  <targets async="true">
    <target name="file" xsi:type="File"
            fileName="${basedir}/logs/log_${shortdate}.txt"
            archiveAboveSize="5000000"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
            layout="${longdate}|${level}|${message}|${onexception: EXCEPTION OCCURRED\:${exception:format=message,type,shortype,tostring,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=message,type,shortype,tostring,method,stacktrace}}"/>
    <target name="ColorConsole" xsi:type="ColoredConsole" layout="${DefaultLayout}" />    
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="file" />
  </rules>
</nlog>
