<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <sqlServerCatalogNameOverwrites>
    <add key="dev_cmt" value="mecca_cmt_stg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </sqlServerCatalogNameOverwrites>
  
  
  <connectionStrings configSource="Config\Mecca.CMT.config" xdt:Transform="Replace" />
  <pricingIntegration configSource="Config\Mecca.CMT.pricingIntegration.config" xdt:Transform="Replace" />
  

</configuration>