<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="sqlServerCatalogNameOverwrites" type="System.Configuration.NameValueSectionHandler" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" />
      <section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" />
    </sectionGroup>
    <section name="pricingIntegration" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <dataCacheClient requestTimeout="15000" channelOpenTimeout="3000" maxConnectionsToServer="1">
    <localCache isEnabled="true" sync="TimeoutBased" ttlValue="300" objectCount="10000" />
    <clientNotification pollInterval="300" maxQueueLength="10000" />
    <hosts>
      <host name="localhost" cachePort="22233" />
    </hosts>
    <securityProperties mode="None" protectionLevel="None" />
  </dataCacheClient>
  <sqlServerCatalogNameOverwrites>
    <!--http://www.llblgen.com/documentation/4.0/LLBLGen%20Pro%20RTF/hh_start.htm-->
    <add key="dev_cmt" value="mecca_cmt" />
    <!-- Database naming values where key refers to 'old' catalogue name that LLbgenpro generated project from and value is the 'new' renamed catalog-->
  </sqlServerCatalogNameOverwrites>
  <system.diagnostics>
    <switches>
      <add name="SqlServerDQE" value="0" />
      <add name="ORMGeneral" value="0" />
      <add name="ORMStateManagement" value="0" />
      <add name="ORMPersistenceExecution" value="4" />
      <!-- Specify the debug diagnostics level on the generated SQL -->
    </switches>
  </system.diagnostics>
  <!-- *************************************************** -->
  <!-- * TELERIK: Report Connection string configuration * -->
  <!-- *************************************************** -->
  <connectionStrings configSource="Config\Mecca.CMT.config"/>
  <pricingIntegration configSource="Config\Mecca.CMT.pricingIntegration.config" />
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <add key="UploadFolderName" value="Upload\\" />
    <add key="IMOStoreCode" value="IMO" />
    <add key="LogFolderName" value="App_Data\logs\\" />
    <add key="RemoveFolderName" value="~/Upload/" />
    <add key="AustralianSite" value="1" />
    <add key="NewZealandSite" value="2" />
    <!-- ******************************** -->
    <!-- * CACHING: Cache Configuration * -->
    <!-- ******************************** -->
    <!-- [AppFabric](not yet implemted here (cache W2K8 server Mecca.Business.Entities.Product product = Mecca.Business.Services.ServiceManagerProvider.GetProductManager().GetProduct(productResult.Id);to install) or [HttpRunTime] or [NoCache] -->
    <add key="Caching.DefaultCacheManagerName" value="HttpRunTime" />
    <!-- * CACHING: AppFabricCaching configuration * -->
    <add key="Caching.AppFabricCaching.DataCacheServerEndpoint.Capacity" value="1" />
    <!-- Only one cache server here -->
    <add key="Caching.AppFabricCaching.DataCacheServerEndpoint.HostName" value="localhost" />
    <add key="Caching.AppFabricCaching.DataCacheServerEndpoint.CachePort" value="22233" />
    <add key="Caching.AppFabricCaching.DataCacheServerEndpoint.CacheName" value="default" />
    <!-- * CACHING: Common configuration (++h:m:s)* -->
    <add key="CacheEnabled" value="true" />
    <add key="DefaultCacheDuration" value="3600" />
    <add key="C3.Reporting.CMT.Business.Entities.Campaign:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.Campaign:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignSet:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignSet:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignType:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignType:CacheDuration" value="3600" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignTypeSet:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignTypeSet:CacheDuration" value="3600" />
    <add key="C3.Reporting.CMT.Business.Entities.RedemptionCode:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.RedemptionCode:CacheDuration" value="3600" />
    <add key="C3.Reporting.CMT.Business.Entities.RedemptionCodeSet:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.RedemptionCodeSet:CacheDuration" value="3600" />
    <add key="C3.Reporting.CMT.Business.Entities.Channel:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.Channel:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelSet:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelSet:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelType:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelType:CacheDuration" value="3600" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelTypeSet:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelTypeSet:CacheDuration" value="3600" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelOwner:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelOwner:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelOwnerSet:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelOwnerSet:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignOwner:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignOwner:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignOwnerSet:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignOwnerSet:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelCustomer:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelCustomer:CacheDuration" value="300" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelCustomerSet:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelCustomerSet:CacheDuration" value="300" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignItem:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignItem:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignItemSet:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignItemSet:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.ProductItem:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.ProductItem:CacheDuration" value="3600" />
    <add key="C3.Reporting.CMT.Business.Entities.ProductItemSet:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.ProductItemSet:CacheDuration" value="3600" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelStore:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelStore:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelStoreSet:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelStoreSet:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelItem:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelItem:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelItemSet:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.ChannelItemSet:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignStore:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignStore:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignStoreSet:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.CampaignStoreSet:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.Store:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.Store:CacheDuration" value="0" />
    <add key="C3.Reporting.CMT.Business.Entities.StoreSet:CacheManagerName" value="HttpRunTime" />
    <add key="C3.Reporting.CMT.Business.Entities.StoreSet:CacheDuration" value="0" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="1048576" />
    <compilation debug="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <machineKey compatibilityMode="Framework45" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="Telerik.ReportViewer.axd" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=7.2.13.1016, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- ******************************** -->
      <!-- * TELERIK REPORTING: Handler   * -->
      <!-- ******************************** -->
      <remove name="Telerik.ReportViewer.axd_*" />
      <add name="Telerik.ReportViewer.axd_*" path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=7.2.13.1016, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" preCondition="integratedMode" />
    </handlers>
    <security>
      <authorization>
        <remove users="*" roles="" verbs="" />
        <add accessType="Allow" users="*" roles="" />
      </authorization>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Reporting" publicKeyToken="A9D7983DFCC261BE" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.14.225" newVersion="8.0.14.225" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SD.LLBLGen.Pro.ORMSupportClasses" publicKeyToken="ca73b74ba4e3ff27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
         to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
     -->
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
    <mailSettings>
      <!-- Method#1: Send emails over the network -->
      <smtp deliveryMethod="Network" from="cmt_noreply@cosmeticscubed.com.au">
        <network host="192.168.3.10" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <dotNetOpenAuth>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <!--<add name="localhost" />-->
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
    <reporting enabled="true" />
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
            <add endpoint="https://www.google.com/accounts/o8/ud" />
          </trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
               with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
        </behaviors>
      </relyingParty>
      <provider />
    </openid>
  </dotNetOpenAuth>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
         which is necessary for OpenID urls with unicode characters in the domain/host name.
         It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
</configuration>