<?xml version="1.0" encoding="utf-8"?>

<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="ConnectionString.SQL Server (SqlClient)" providerName="System.Data.SqlClient" connectionString="#{CMTDB}" xdt:Transform="Replace" xdt:Locator="Match(name)" />
</connectionStrings>

