<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>
  <add name="ConnectionString.SQL Server (SqlClient)" providerName="System.Data.SqlClient"  connectionString="data source=.\SQLEXPRESS;initial catalog=mecca_cmt;integrated security=SSPI;persist security info=False;packet size=4096" />
</connectionStrings>

