@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <div class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>New Features</h1>
            </hgroup>
            <div style="color:white">
                <ul>
                    <li>CSV file will be able to upload to the campaign items list and segment items list which display the info of each item in CSV file</li>
                    <li>The price of each item in campaign items list and segment items list will be filtered by campaign's start date and campaign's end date</li>
                    <li>A search box in campaign item list and segment item list allow to search item based on item code, vendor or description</li>
                </ul>
            </div>
        </div>
    </div>
    }

  
   <strong>Please provide any feedback or issues to Jason: jason.le@mecca.com.au</strong>   